<%#
 Filename: app/views/customers/edit.html.erb
 Directory: /Users/abruzzim/Documents/ga_wdi/projects/rocksolid/
 Author: Mario Abruzzi
 Date: 17-Jan-2014
 Desc: Project 1
 Notes: 
%>

<h2>Customer Edit</h2>
<% content_for(:navbar) do %>
  <div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/customers">Back</a></li>
      </ul>
    </nav>
  </div>
<% end %>
<!-- Edit Customer Web Form -->
<!-- customer? PUT /customers/:id(.:format) customers#update -->
<form method="post" action="/customers/<%= @customer.id %>">

  <fieldset>
    <legend><span>Customer Info</span></legend>

    <input type="hidden" name="_method" value="put"/>

    <label for="one">Last Name: </label>
    <input id="one" type="text" name="name" value="<%= @customer.name %>" />
    <label for="two">Street: </label>
    <input id="two" type="text" name="street" value="<%= @customer.addresses.first.street %>" />
    <label for="three">City: </label>
    <input id="three" type="text" name="city" value="<%= @customer.addresses.first.city %>" />
    <label for="four">State: </label>
    <input id="four" type="text" name="state" value="<%= @customer.addresses.first.state %>" />
    <label for="five">Zip: </label>
    <input id="five" type="text" name="zip" value="<%= @customer.addresses.first.zip %>" />
  </fieldset>

  <button type="submit">Update</button>

</form>
