<h2>Customer Edit Form</h2>
  <!-- Edit Customer Web Form -->
  <form method="post" action="/customers/<%= @cid %>">
    <fieldset>
      <legend><span>Customer Info</span></legend>
      <input type="hidden" name="_method" value="put"/>
      <label for="one">Last Name: </label>
      <input id="one" type="text" name="name" value="<%= @name %>" placeholder="Name"/>
      <label for="two">Street: </label>
      <input id="two" type="text" name="street" value="<%= @street %>" placeholder="Address"/>
      <label for="three">City: </label>
      <input id="three" type="text" name="city" value="<%= @city %>" placeholder="City"/>
      <label for="four">State: </label>
      <input id="four" type="text" name="state" value="<%= @state %>" placeholder="State"/>
      <label for="five">Zip: </label>
      <input id="five" type="text" name="zip" value="<%= @zip %>" placeholder="Zip"/>
      <button type="submit">Update</button>
    </fieldset>
  </form>
