<!DOCTYPE html>
<html>
<head>
  <title>RockSolid5</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    li {display:inline;}
  </style>
</head>
<body>
  <!-- Temp Nav Bar -->
    <div>
      <h1>RockSolid</h1>
    </div>
  <!-- Enable flash messages for Devise -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield :navbar %>
<%= yield :layout %>

</body>
</html>
